@include font-face('Geomicons', 'Geomicons', normal, 500);

[data-icon]:before {
    font-family: 'Geomicons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

[class^="geomicon-"]:before, [class*=" geomicon-"]:before {
    font-family: 'Geomicons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.geomicon-volume-off:before {
    content: "\3b";
}
.geomicon-volume-min:before {
    content: "\36";
}
.geomicon-volume-full:before {
    content: "\31";
}
.geomicon-brightness:before {
    content: "\e07c";
}
.geomicon-brightness-high:before {
    content: "\e081";
}
.geomicon-search:before {
    content: "\2a";
}
.geomicon-zoom-out:before {
    content: "\27";
}
.geomicon-zoom-in:before {
    content: "\30";
}
.geomicon-settings:before {
    content: "\75";
}
.geomicon-hourglass:before {
    content: "\78";
}
.geomicon-trash:before {
    content: "\45";
}
.geomicon-shield-2:before {
    content: "\3a";
}
.geomicon-shield-3:before {
    content: "\3f";
}
.geomicon-key:before {
    content: "\79";
}
.geomicon-keyhole:before {
    content: "\e000";
}
.geomicon-lock-locked:before {
    content: "\74";
}
.geomicon-lock-unlocked:before {
    content: "\6f";
}
.geomicon-toolbox:before {
    content: "\70";
}
.geomicon-hammer:before {
    content: "\7a";
}
.geomicon-wrench:before {
    content: "\e001";
}
.geomicon-battery-charging:before {
    content: "\6d";
}
.geomicon-battery-full:before {
    content: "\72";
}
.geomicon-battery-75:before {
    content: "\77";
}
.geomicon-battery-50:before {
    content: "\7c";
}
.geomicon-battery-25:before {
    content: "\e005";
}
.geomicon-battery-0:before {
    content: "\e00a";
}
.geomicon-video:before {
    content: "\34";
}
.geomicon-video2:before {
    content: "\e002";
}
.geomicon-camera:before {
    content: "\61";
}
.geomicon-audio:before {
    content: "\48";
}
.geomicon-microphone:before {
    content: "\43";
}
.geomicon-casette:before {
    content: "\52";
}
.geomicon-speaker:before {
    content: "\57";
}
.geomicon-headphones:before {
    content: "\4d";
}
.geomicon-tv:before {
    content: "\2f";
}
.geomicon-photo:before {
    content: "\5c";
}
.geomicon-file:before {
    content: "\68";
}
.geomicon-files:before {
    content: "\63";
}
.geomicon-file-new:before {
    content: "\59";
}
.geomicon-file-download:before {
    content: "\5e";
}
.geomicon-file-delete:before {
    content: "\54";
}
.geomicon-folder:before {
    content: "\49";
}
.geomicon-folder-new:before {
    content: "\4a";
}
.geomicon-archive:before {
    content: "\e00c";
}
.geomicon-filing:before {
    content: "\e011";
}
.geomicon-briefcase:before {
    content: "\e083";
}
.geomicon-text:before {
    content: "\46";
}
.geomicon-command:before {
    content: "\73";
}
.geomicon-contact-2:before {
    content: "\6b";
}
.geomicon-binder:before {
    content: "\e02a";
}
.geomicon-address-book:before {
    content: "\e02f";
}
.geomicon-contact:before {
    content: "\e039";
}
.geomicon-inbox:before {
    content: "\e020";
}
.geomicon-tray-download:before {
    content: "\e01b";
}
.geomicon-tray-upload:before {
    content: "\e016";
}
.geomicon-cloud:before {
    content: "\e01f";
}
.geomicon-cloud-upload:before {
    content: "\e01a";
}
.geomicon-printer:before {
    content: "\e038";
}
.geomicon-mail:before {
    content: "\e025";
}
.geomicon-contact-3:before {
    content: "\66";
}
.geomicon-calendar-add:before {
    content: "\e01c";
}
.geomicon-calendar-day:before {
    content: "\e021";
}
.geomicon-tag:before {
    content: "\26";
}
.geomicon-tags:before {
    content: "\25";
}
.geomicon-tag-back:before {
    content: "\2d";
}
.geomicon-link:before {
    content: "\29";
}
.geomicon-link-2:before {
    content: "\24";
}
.geomicon-link-2-2:before {
    content: "\e0c2";
}
.geomicon-anchor:before {
    content: "\23";
}
.geomicon-infinity:before {
    content: "\28";
}
.geomicon-infinity-2:before {
    content: "\e0c8";
}
.geomicon-book:before {
    content: "\44";
}
.geomicon-book-2:before {
    content: "\4f";
}
.geomicon-book-3:before {
    content: "\4e";
}
.geomicon-bookmark:before {
    content: "\65";
}
.geomicon-scroll:before {
    content: "\7d";
}
.geomicon-news:before {
    content: "\e01d";
}
.geomicon-map:before {
    content: "\e06a";
}
.geomicon-screen:before {
    content: "\e014";
}
.geomicon-laptop:before {
    content: "\e019";
}
.geomicon-tablet:before {
    content: "\e01e";
}
.geomicon-tablet-2:before {
    content: "\e028";
}
.geomicon-smartphone:before {
    content: "\e023";
}
.geomicon-phone:before {
    content: "\e02d";
}
.geomicon-flipphone:before {
    content: "\e032";
}
.geomicon-calculator:before {
    content: "\e029";
}
.geomicon-keyboard:before {
    content: "\e02e";
}
.geomicon-game-controller:before {
    content: "\e033";
}
.geomicon-chip:before {
    content: "\e024";
}
.geomicon-disk:before {
    content: "\e00b";
}
.geomicon-taxi:before {
    content: "\e047";
}
.geomicon-train:before {
    content: "\e04c";
}
.geomicon-bus:before {
    content: "\e051";
}
.geomicon-plane:before {
    content: "\e056";
}
.geomicon-rocket:before {
    content: "\e05b";
}
.geomicon-signs:before {
    content: "\e065";
}
.geomicon-compass:before {
    content: "\e06c";
}
.geomicon-compass-2:before {
    content: "\e079";
}
.geomicon-target:before {
    content: "\e074";
}
.geomicon-location:before {
    content: "\e06f";
}
.geomicon-tack:before {
    content: "\e082";
}
.geomicon-globe:before {
    content: "\e07e";
}
.geomicon-bike:before {
    content: "\e03d";
}
.geomicon-bike-2:before {
    content: "\e042";
}
.geomicon-house:before {
    content: "\e03a";
}
.geomicon-dc-flag:before {
    content: "\e03c";
}
.geomicon-utensils:before {
    content: "\e004";
}
.geomicon-latte:before {
    content: "\7b";
}
.geomicon-coffee:before {
    content: "\76";
}
.geomicon-beer:before {
    content: "\6c";
}
.geomicon-wine:before {
    content: "\71";
}
.geomicon-stopwatch:before {
    content: "\e00d";
}
.geomicon-alarm:before {
    content: "\e012";
}
.geomicon-clock:before {
    content: "\e017";
}
.geomicon-bell:before {
    content: "\e008";
}
.geomicon-weather:before {
    content: "\e02c";
}
.geomicon-night:before {
    content: "\e031";
}
.geomicon-sun:before {
    content: "\e036";
}
.geomicon-umbrella:before {
    content: "\e022";
}
.geomicon-flower:before {
    content: "\e048";
}
.geomicon-leaf-2:before {
    content: "\e04d";
}
.geomicon-leaf:before {
    content: "\e043";
}
.geomicon-snowflake:before {
    content: "\e03e";
}
.geomicon-tree:before {
    content: "\e052";
}
.geomicon-ticket:before {
    content: "\e009";
}
.geomicon-glasses:before {
    content: "\e00e";
}
.geomicon-drama:before {
    content: "\e013";
}
.geomicon-gift:before {
    content: "\e018";
}
.geomicon-eye:before {
    content: "\e026";
}
.geomicon-avatar:before {
    content: "\e034";
}
.geomicon-avatar-2:before {
    content: "\e0c5";
}
.geomicon-person:before {
    content: "\e035";
}
.geomicon-adult-child:before {
    content: "\e030";
}
.geomicon-people:before {
    content: "\e02b";
}
.geomicon-smiley-happy:before {
    content: "\e061";
}
.geomicon-smiley-neutral:before {
    content: "\e05c";
}
.geomicon-smiley-sad:before {
    content: "\e057";
}
.geomicon-skull:before {
    content: "\e08b";
}
.geomicon-ghost:before {
    content: "\e091";
}
.geomicon-broadcast:before {
    content: "\22";
}
.geomicon-hand-palm:before {
    content: "\e06b";
}
.geomicon-hand-thumbs-up:before {
    content: "\e07a";
}
.geomicon-hand-thumbs-down:before {
    content: "\e075";
}
.geomicon-hand-point:before {
    content: "\e07f";
}
.geomicon-hand-peace:before {
    content: "\e070";
}
.geomicon-middle-finger:before {
    content: "\e066";
}
.geomicon-hand-point-2:before {
    content: "\e084";
}
.geomicon-trophy:before {
    content: "\2c";
}
.geomicon-badge:before {
    content: "\2b";
}
.geomicon-target-2:before {
    content: "\53";
}
.geomicon-target-3:before {
    content: "\e089";
}
.geomicon-flag:before {
    content: "\5b";
}
.geomicon-bank:before {
    content: "\58";
}
.geomicon-cash:before {
    content: "\67";
}
.geomicon-credit:before {
    content: "\62";
}
.geomicon-paintbrush:before {
    content: "\e078";
}
.geomicon-pencil:before {
    content: "\e06e";
}
.geomicon-dropper:before {
    content: "\e05f";
}
.geomicon-paper-clip:before {
    content: "\e05a";
}
.geomicon-pen:before {
    content: "\e069";
}
.geomicon-scissors:before {
    content: "\e07d";
}
.geomicon-roller:before {
    content: "\e073";
}
.geomicon-puzzle:before {
    content: "\e010";
}
.geomicon-mouse:before {
    content: "\e00f";
}
.geomicon-medkit:before {
    content: "\e04a";
}
.geomicon-band-aid:before {
    content: "\e04f";
}
.geomicon-chemistry:before {
    content: "\e03b";
}
.geomicon-chemistry-2:before {
    content: "\e040";
}
.geomicon-atomic:before {
    content: "\e045";
}
.geomicon-magnet:before {
    content: "\e055";
}
.geomicon-factory:before {
    content: "\e058";
}
.geomicon-vectors:before {
    content: "\e064";
}
.geomicon-fan:before {
    content: "\e062";
}
.geomicon-bulb:before {
    content: "\e080";
}
.geomicon-bulb-2:before {
    content: "\e085";
}
.geomicon-fire:before {
    content: "\e05d";
}
.geomicon-electricity:before {
    content: "\e071";
}
.geomicon-thermometer:before {
    content: "\e027";
}
.geomicon-lego:before {
    content: "\e015";
}
.geomicon-bug:before {
    content: "\6e";
}
.geomicon-database:before {
    content: "\e006";
}
.geomicon-cart:before {
    content: "\5d";
}
.geomicon-plug:before {
    content: "\e067";
}
.geomicon-outlet:before {
    content: "\e076";
}
.geomicon-outlet-2:before {
    content: "\e07b";
}
.geomicon-panels:before {
    content: "\e072";
}
.geomicon-tennisball:before {
    content: "\e05e";
}
.geomicon-football:before {
    content: "\e063";
}
.geomicon-basketball:before {
    content: "\e06d";
}
.geomicon-soccerball:before {
    content: "\e059";
}
.geomicon-baseball:before {
    content: "\e068";
}
.geomicon-core:before {
    content: "\e077";
}
.geomicon-layers:before {
    content: "\e04b";
}
.geomicon-land-line:before {
    content: "\e037";
}
.geomicon-package:before {
    content: "\e007";
}
.geomicon-bullhorn:before {
    content: "\e0a8";
}
.geomicon-levels:before {
    content: "\e0c6";
}
.geomicon-piano:before {
    content: "\e0cc";
}
.geomicon-piano-2:before {
    content: "\e0d1";
}
.geomicon-club:before {
    content: "\e0a3";
}
.geomicon-diamond:before {
    content: "\e097";
}
.geomicon-spade:before {
    content: "\e09d";
}
.geomicon-heart:before {
    content: "\6a";
}
.geomicon-quotes:before {
    content: "\3e";
}
.geomicon-star:before {
    content: "\60";
}
.geomicon-crop:before {
    content: "\e050";
}
.geomicon-pie-chart:before {
    content: "\e04e";
}
.geomicon-graph:before {
    content: "\e03f";
}
.geomicon-graph-2:before {
    content: "\e044";
}
.geomicon-graph-3:before {
    content: "\e049";
}
.geomicon-venn-diagram:before {
    content: "\e053";
}
.geomicon-strategy:before {
    content: "\e054";
}
.geomicon-gauge:before {
    content: "\e060";
}
.geomicon-type:before {
    content: "\e041";
}
.geomicon-type-2:before {
    content: "\e046";
}
.geomicon-comment:before {
    content: "\56";
}
.geomicon-social-tumbler:before {
    content: "\42";
}
.geomicon-social-twitter-2:before {
    content: "\51";
}
.geomicon-social-vimeo:before {
    content: "\33";
}
.geomicon-social-dribbble:before {
    content: "\47";
}
.geomicon-social-facebook:before {
    content: "\2e";
}
.geomicon-social-flickr:before {
    content: "\38";
}
.geomicon-circle-electricity:before {
    content: "\3d";
}
.geomicon-rss:before {
    content: "\21";
}
.geomicon-wifi:before {
    content: "\e0d7";
}
.geomicon-help:before {
    content: "\41";
}
.geomicon-alert-2:before {
    content: "\55";
}
.geomicon-info:before {
    content: "\40";
}
.geomicon-info-2:before {
    content: "\4b";
}
.geomicon-social-twitter:before {
    content: "\4c";
}
.geomicon-circle-max:before {
    content: "\37";
}
.geomicon-circle-min:before {
    content: "\32";
}
.geomicon-circle-min-2:before {
    content: "\3c";
}
.geomicon-circle-close:before {
    content: "\5f";
}
.geomicon-stop:before {
    content: "\5a";
}
.geomicon-circle-check:before {
    content: "\69";
}
.geomicon-check:before {
    content: "\64";
}
.geomicon-skip-forward:before {
    content: "\e086";
}
.geomicon-skip-forward-2:before {
    content: "\e087";
}
.geomicon-skip-back:before {
    content: "\e08c";
}
.geomicon-skip-back-2:before {
    content: "\e08d";
}
.geomicon-forward:before {
    content: "\e098";
}
.geomicon-forward-2:before {
    content: "\e099";
}
.geomicon-rewind:before {
    content: "\e09e";
}
.geomicon-rewind-2:before {
    content: "\e09f";
}
.geomicon-eject:before {
    content: "\e092";
}
.geomicon-eject-2:before {
    content: "\e093";
}
.geomicon-pause:before {
    content: "\e0af";
}
.geomicon-pause-2:before {
    content: "\e0b0";
}
.geomicon-rectangle:before {
    content: "\e0a9";
}
.geomicon-rectangle-2:before {
    content: "\e0aa";
}
.geomicon-play:before {
    content: "\e0b4";
}
.geomicon-play-2:before {
    content: "\e0b5";
}
.geomicon-circle:before {
    content: "\e0dc";
}
.geomicon-circle-2:before {
    content: "\e0a4";
}
.geomicon-play-3:before {
    content: "\e090";
}
.geomicon-arrow-forward-2:before {
    content: "\e09c";
}
.geomicon-arrow-forward:before {
    content: "\e096";
}
.geomicon-arrow-forward-3:before {
    content: "\e0a7";
}
.geomicon-skip-forward-3:before {
    content: "\e0a2";
}
.geomicon-send:before {
    content: "\e0b3";
}
.geomicon-circle-arrow-right:before {
    content: "\e0c9";
}
.geomicon-circle-arrow-right-2:before {
    content: "\e0da";
}
.geomicon-box-arrow-right:before {
    content: "\e0cf";
}
.geomicon-arrow-right:before {
    content: "\e0d0";
}
.geomicon-arrow-forward-5:before {
    content: "\e0de";
}
.geomicon-arrow-forward-4:before {
    content: "\e0c3";
}
.geomicon-arrow-right-2:before {
    content: "\e08a";
}
.geomicon-box-skip:before {
    content: "\e0b8";
}
.geomicon-send-to:before {
    content: "\e0be";
}
.geomicon-fork:before {
    content: "\e0a0";
}
.geomicon-branch:before {
    content: "\e0bf";
}
.geomicon-merge:before {
    content: "\e0b9";
}
.geomicon-shuffle:before {
    content: "\e0a5";
}
.geomicon-replay:before {
    content: "\e088";
}
.geomicon-restart:before {
    content: "\e08e";
}
.geomicon-reload:before {
    content: "\e094";
}
.geomicon-reload-2:before {
    content: "\e0ab";
}
.geomicon-refresh:before {
    content: "\e09a";
}
.geomicon-loop:before {
    content: "\e0d9";
}
.geomicon-arrow-left-right:before {
    content: "\e0d2";
}
.geomicon-arrow-left-right-2:before {
    content: "\e0d3";
}
.geomicon-arrow-left-right-3:before {
    content: "\e0d8";
}
.geomicon-move:before {
    content: "\e0ad";
}
.geomicon-code:before {
    content: "\e0ce";
}
.geomicon-box-expand:before {
    content: "\e0df";
}
.geomicon-expand:before {
    content: "\e0c7";
}
.geomicon-drag:before {
    content: "\e0b1";
}
.geomicon-branch-2:before {
    content: "\e0c4";
}
.geomicon-box-arrow-right-2:before {
    content: "\e0d4";
}
.geomicon-external:before {
    content: "\e0bc";
}
.geomicon-arrow-back:before {
    content: "\e0ae";
}
.geomicon-arrow-return:before {
    content: "\e0ca";
}
.geomicon-go-back:before {
    content: "\e0b6";
}
.geomicon-swoosh:before {
    content: "\e0bd";
}
.geomicon-rss-2:before {
    content: "\e0ba";
}
.geomicon-shrink:before {
    content: "\e0cd";
}
.geomicon-group-2:before {
    content: "\e08f";
}
.geomicon-group:before {
    content: "\e095";
}
.geomicon-view-list:before {
    content: "\e09b";
}
.geomicon-view-list-2:before {
    content: "\e0a1";
}
.geomicon-hamburger:before {
    content: "\e0a6";
}
.geomicon-hamburger-2:before {
    content: "\e0ac";
}
.geomicon-angles:before {
    content: "\e0b2";
}
.geomicon-untitled:before {
    content: "\e0b7";
}
.geomicon-more:before {
    content: "\e0bb";
}
.geomicon-circle-more:before {
    content: "\e0c1";
}
.geomicon-search-2:before {
    content: "\e0c0";
}
.geomicon-no:before {
    content: "\e0cb";
}
.geomicon-power:before {
    content: "\e0d5";
}
.geomicon-circle-power:before {
    content: "\e0db";
}
.geomicon-layers-2:before {
    content: "\e0d6";
}
.geomicon-binary:before {
    content: "\e0dd";
}
.geomicon-up-arrow:before {
    content: "\39";
}
.geomicon-right-arrow:before {
    content: "\e003";
}
.geomicon-down-arrow:before {
    content: "\e0e0";
}
.geomicon-left-arrow:before {
    content: "\e0e1";
}
.geomicon-shield:before {
    content: "\35";
}
.geomicon-alert:before {
    content: "\50";
}
